.content {
  display: grid;
  justify-content: space-around;
  justify-items: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border: 1px solid black;
  margin: 0 auto;
  .square {
    border: 1px black solid;
    text-align: right;
  }
}

.monitor {
  display: flex;
  gap: 1em;
  justify-items: center;
  .ships {
    display: grid;
    align-content: space-between;
    .ship {
      border: 1px solid black;
      padding: 1em;
    }
  }
}

.ship[data-active="true"] {
  background-color: gray;
}
